.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.main-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  background: radial-gradient(
    98.31% 98.31% at 50.03% 103.64%,
    #2196f3 0%,
    #5b6fe7 100%
  );
}

.bg-dark {
     --bs-bg-opacity: 0 !important;
}

.navbar-brand,
.navbar-toggler {
  margin: auto 10px;
}

.navbar-nav {
  text-align: center;
}
