.banner {
  background-color: rgba(245, 157, 135);
  padding: 1rem 2rem;
}

.banner > ul {
  margin: 0.5rem auto auto;
}

.banner > p {
  color: white;
}

.banner svg {
  font-size: 30px !important;
}
