footer {
  padding: 0.5rem;
  border-top: 1px solid #55a6e7;
}

footer p {
  margin: 1rem;
  color: white;
}

footer ul {
  margin-top: 1rem;
}

ul {
  display: inline-flex;
  width: 100%;
  padding: 0 2rem;
  justify-content: center;
}

.icon {
  display: block;
  margin: 0 1rem;
}

.icon svg {
  color: white;
  font-size: 35px;
}

.footer .progress {
  margin: 1rem;
  margin-bottom: 0;
}

.footer .lang-list-container {
  margin: auto 1rem;
}

.footer .links-container {
  margin: auto 1rem !important;
}

@media screen and (min-width: 768px) {
  footer {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  footer .progress {
    width: 50%;
    margin-bottom: 1rem !important;
  }
  .lang-list-container {
    width: fit-content;
    float: left;
    margin-right: 2rem !important;
  }
}
