footer {
  padding: 0.5rem;
}

footer p {
  margin: 1rem;
  color: white;
}

footer ul {
  margin-top:1rem;
}

ul {
  display: inline-flex;
  width: 100%;
  padding: 0 2rem;
  justify-content: center;
}

.icon {
  display: block;
  margin: 0 1rem;
}

.icon svg {
  color: white;
  font-size: 40px;
}
