.header-container {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: rgb(33, 149, 243);
}

.container {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.bg-light {
  --bs-bg-opacity: 0 !important;
  background-color: none !important;
}

.logo {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px !important;
  font-family: serif;
  color: white !important;
  box-shadow: 0px 0px 10px rgb(44, 44, 44);
  text-shadow: 1px 1px rgb(44, 44, 44);
}

.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.menuBars {
  color: #5faff0 !important;
  border-color: #0686f0 !important;
}

.navbar-collapse {
  position: fixed;
  left: -100%;
  top: 0px;
  width: 100%;
  background-color: rgba(33, 149, 243, 0.6);
  height: 100%;
  animation: navbar-collapse 0.5s forwards;
}
@keyframes navbar-collapse {
  100% {
    left: 0;
  }
}
.collapse:not(.show) {
  animation: collapse 0.5s backwards !important;
  animation-delay: 0.1s !important;
  display: block !important;
}
@keyframes collapse {
  100% {
    left: -100%;
  }
}

.navbar-nav {
  width: 75%;
  height: 100%;
  padding-top: 1rem;
  background-color: whitesmoke;
}
.xmark-container {
  width: fit-content;
  margin-bottom: 1.5rem;
  position: relative;
  left: 80%;
  font-size: 30px !important;
  border-color: rgba(245, 157, 135) !important;
  color: rgba(245, 157, 135) !important;
}
.xmark-container > svg {
  color: rgb(61 61 61);
}

.nav-link {
  color: rgb(61, 61, 61) !important;
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.fontAw-icon {
  margin-right: 10px;
}

.resume-container {
  display: flex;
}

.resume-container > a {
  border: 1px solid;
  border-radius: 5px;
  width: fit-content;
  padding: 7px 13px !important;
  background-color: rgba(245, 157, 135);
  color: whitesmoke !important;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .header-container {
    position:initial;
  }
  .navbar-collapse {
    position: relative;
    left: 0;
    animation: none !important;
  }
  .navbar-nav {
    width: 100%;
    padding-top: 0;
    background-color: initial;
    justify-content: right;
  }
  .collapse:not(.show) {
    animation: none !important;
  }

  .nav-link{
    margin-bottom: 0;
    color: whitesmoke !important;
    font-weight: bold;
  }

}
/* Desktops, large screens */
@media screen and (min-width: 1024px) {
  .nav-link {
    margin-right: 1.5rem;
  }
  .resume-container {
    padding: 2px 1px 1px;
  }
}
