.card {
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0px 0px 5px black;
}

.card-img-top {
  margin: 1rem auto 2rem;
  border-radius: 0.5rem;
}

.card-body {
  padding: 2rem !important;
}

.card-title {
  font-weight: bold !important;
}

.btn-primary {
  background-color: white !important;
  color: grey !important;
}
