.card {
  width: 80%;
  margin: 2rem auto;
  background-color: #2998f3 !important;
  border: none !important;
}

.card-container > h2 {
  color: whitesmoke;
  margin: 2rem;
}

.card-img-top {
  margin: 1rem auto 2rem;
  border-radius: 0.5rem;
  opacity: 0.07;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.card-body {
  padding: 1.5rem !important;
}

.card-title {
  font-weight: bold !important;
}

.card-text {
  color: rgb(37, 37, 37);
}

.port-img-container {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.btn-container > ul {
  justify-content: left !important;
  padding-left: 0 !important;
}

.links-container {
  margin-left: 0.4rem !important;
  z-index: 3;
}

.links-container svg {
  color: rgb(37, 37, 37) !important;
  font-size: 30px !important;
}

.links-container svg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.links-container > button {
  border: none;
  padding: 0;
  background-color: #2998f3;
}

.languages-bar > .h5 {
  color: rgb(36, 35, 35);
  margin: 1rem auto;
}

.progress {
  height: 0.5rem !important;
}

.js-bar {
  background-color: rgb(212, 212, 46);
}

.html-bar {
  background-color: rgb(214, 73, 7);
}

.css-bar {
  background-color: rgb(53, 51, 131);
}

.progress-item:not(:first-child) {
  margin-left: 2px;
}

.lang-list-container {
  padding: 0;
  display: block;
  margin-top: 3px;
}

.item {
  display: inline-block;
  color: rgb(37, 37, 37);
  font-size: 14px;
}

.html-class {
  margin: auto 0px auto 3px;
}

.js-class:before {
  content: "• ";
  font-size: 20px;
  color: rgb(212, 212, 46);
}
.html-class:before {
  content: "• ";
  font-size: 20px;
  color: rgb(214, 73, 7);
}
.css-class:before {
  content: "• ";
  font-size: 20px;
  color: rgb(53, 51, 131);
}

@media screen and (min-width: 768px) {
  .card-container > h2 {
    margin-left: 4rem;
  }
  .card-body {
    height: 550px;
  }

  .card-title,
  .card-text {
    width: 45%;
    position: relative;
    left: 50%;
  }
  .port-img-container {
    position: initial;
    height: auto;
    overflow: auto;
  }
  .card-img-top {
    opacity: 0.8;
    margin-left: 15px !important;
  }
  .btn-container > ul li:nth-child(3) {
    display: none;
  }

  .languages-bar > .h5 {
    left: 0;
    margin-left: 0;
  }

  .port-img-container > img {
    width: 45%;
    margin: 0;
    position: absolute;
    top: 4%;
  }

  .btn-container {
    position: absolute;
    top: 82%;
    left: 60%;
  }

  .languages-bar {
    width: 45%;
    position: absolute;
    top: 56%;
    left: 50%;
  }

  .html-class {
    margin: auto 15px;
  }
}

@media screen and (min-width: 900px) {
  .card-body {
    height: 700px;
  }
  .languages-bar {
    top: 45%;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1024px) {
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 3rem 0;
    width: 80%;
    margin: auto;
  }

  .card-container > h2 {
    margin-left: 1rem;
  }
  .card {
    width: 35%;
    flex: 0 0 auto;
    margin: 0 25px;
    box-shadow: 0px 0px 20px rgb(68, 68, 68);
    overflow: hidden;
    flex-direction: initial !important;
  }
  .card-body {
    height: auto;
  }
  .port-img-container {
    height: 100%;
  }
  .port-img-container > img {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0.2;
  }
  .card-title,
  .card-text {
    width: 100%;
    position: relative;
    left: 0;
    padding: 0 1rem;
  }

  .card-text{
    color: whitesmoke;
  }
  .btn-container {
    position: relative;
    top: 0;
    left: 0;
    margin: 2rem auto 0;
  }

  .btn-container > ul{
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .lang-list-container {
    margin-bottom: 0;
  }

  .languages-bar {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem;
    padding-bottom: 0;
  }

  .languages-bar > .h5 {
    padding: 0;
  }

  .item {
    font-size: 14px;
  }
}
